.form_title {
	text-align: center;
	margin: 1rem 0 1rem 0;
}

.form_col{
    display: flex;
    justify-content: center;
}

.form_row{
    display: flex;
    margin: 1rem;
    justify-content: center;
}

.form_btn{
    width: 40%;
}

.form_form{
    width: 30%;
}

.form_error{
    color: red;
}