.item_title {
	color: darkslategrey;
	text-align: center;
	margin: 1rem;
}

.item_image {
	width: 100%;
	height: auto;
}

.item_description {
	font-size: 14px;
}

.item_price {
	color: darkgreen;
	font-size: 18px;
	font-weight: bold;
}

.item_row {
	height: 80%;
}

.item_col {
	text-align: center;
}