.logo {
	margin-right: 4rem;
}

.nav_link {
	text-decoration: none;
	color: lightgray;
	padding: 0 2rem 0 2rem;
}

.nav_link:hover {
	color: orangered !important;
}

.nav-link {
	text-decoration: none;
	color: lightgray !important;
	padding: 0 2rem 0 2rem !important;
}

.nav-link:hover {
	color: orangered !important;
}

.nav_link-desplegable{
	color: black;
	text-decoration: none;
}

.nav_link-desplegable:hover {
	color: orangered !important;
}

.dropdown-item:active{
	background-color: darkgray;
}